@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins'; 
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins'; 
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

